:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fafafa;
}

.multi-step-container {
  display: flex;
  position: relative;
  height: 520px;
  overflow-x: hidden;
}

.multi-step-content {
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: transform 0.5s ease;
}

.multi-step-content.active {
  transform: translateX(0%);
}

.multi-step-content.next {
  transform: translateX(100%);
}

.multi-step-content.prev {
  transform: translateX(-100%);
}

.light-color {
  color: #F1E3B5;
}

.medium-color {
  color: #2c8c87;
}

.dark-color {
  color: #3C3C44;
}

.light-background-color {
  background-color: #F1E3B5;
}

.medium-background-color {
  background-color: #2c8c87;
}

.red-background-color {
  background-color: #B8553A;
}

.green-background-color {
  background-color: #415D23;
}

.dark-background-color {
  background-color: #3C3C44;
}
